<!DOCTYPE html>
<html>
  <head>
    <title>Live Delhi Transit Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    <style>
      #map {
        height: 100vh;
      }
      body {
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // ... (map initialization code is the same) ...
      const map = L.map("map").setView([28.6139, 77.209], 11);
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "&copy; OpenStreetMap contributors",
      }).addTo(map);

      let vehicleMarkers = {};
      const socket = io.connect(
        "http://" + document.domain + ":" + location.port
      );

      socket.on("connect", () => {
        console.log("Successfully connected to the backend server!");
      });

      // --- THIS IS THE NEW DEBUGGING LINE ---
      socket.onAny((eventName, ...args) => {
        console.log(`DEBUG: Received an event named '${eventName}'`);
      });
      // ------------------------------------

      socket.on("vehicle_update", (data) => {
        const vehicles = data.vehicles;
        console.log(`Received update for ${vehicles.length} vehicles.`);

        vehicles.forEach((vehicle) => {
          const vehicleId = vehicle.id;
          const position = [vehicle.lat, vehicle.lon];

          if (vehicleMarkers[vehicleId]) {
            vehicleMarkers[vehicleId].setLatLng(position);
          } else {
            vehicleMarkers[vehicleId] = L.marker(position)
              .addTo(map)
              .bindPopup(`Vehicle ID: ${vehicleId}`);
          }
        });
      });
    </script>
  </body>
</html>
